AstroYoink/Temp/
AstroYoink/Temp/UnityLockfile
AstroYoink/Temp/UnityLockfile
AstroYoink/Temp/__EditModeScene

AstroYoink/Library/expandedItems

AstroYoink/Library/guidmapper

AstroYoink/Library/ScriptAssemblies/Assembly-CSharp.dll

AstroYoink/Library/metadata/4c/4cbed124f2270164fb1a4da854003e96

AstroYoink/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

AstroYoink/AstroYoink.sln
